# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
.idea/modules.xml
.idea/workspace.xml
.idea/misc.xml

# Sistema Operacional
.DS_Store
Thumbs.db
*.swp
*~

# Logs
*.log
logs/
spring.log

# Variáveis de Ambiente
.env
*.env
application-local.properties
application-prod.properties

# Compilados Java
*.class

# Outros
*.tmp
*.bak
